


<h3 class="border-bottom">C3</h3>
<div class="row row-cols-1 row-cols-md-3 mb-3 ">

  <div class="col " >
    <div class="card mb-4 rounded-4 shadow-sm" >
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center">C3 Total</h4>
      </div>
      <div class="card-body">

        <ul class="list-unstyled mt-3 mb-4 text-start">
          <li class="list-group-item d-flex justify-content-between align-items-center h6">C3 board :
            <span class="badge bg-primary rounded-pill">140</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM board :
              <span class="badge bg-primary rounded-pill">140</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM Terminal :
                <span class="badge bg-primary rounded-pill">280</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center h6">LCD moniter :
                  <span class="badge bg-primary rounded-pill ">140</span></li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">C3 Install</h4>
      </div>
      <div class="card-body">

        <ul class="list-unstyled mt-3 mb-4 text-start">
          <li class="list-group-item d-flex justify-content-between align-items-center h6">C3 board :
            <span class="badge bg-primary rounded-pill">40</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM board :
              <span class="badge bg-primary rounded-pill">40</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM Terminal :
                <span class="badge bg-primary rounded-pill">80</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center h6">LCD moniter :
                  <span class="badge bg-primary rounded-pill ">40</span></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">C3 Spare</h4>
      </div>
      <div class="card-body">

        <ul class="list-unstyled mt-3 mb-4 text-start">
          <li class="list-group-item d-flex justify-content-between align-items-center h6">C3 board :
            <span class="badge bg-primary rounded-pill">100</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM board :
              <span class="badge bg-primary rounded-pill">100</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center h6">CGM Terminal :
                <span class="badge bg-primary rounded-pill">200</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center h6">LCD moniter :
                  <span class="badge bg-primary rounded-pill ">100</span></li>
        </ul>

      </div>
    </div>
  </div>
