<main class="container mt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between bd-highlight mb-3 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create a new PC </h1>

  </div>
<!-- droup down List -->
<form>
  <div class="card border-dark mb-3" style="max-width: 24rem;">
    <div class="card-header">Basic PC Details</div>
    <div class="card-body text-dark">
      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">Project category:</label>
        <select class="form-select " id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">Installation Status:</label>
        <select class="form-select  " id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">PC's Hostname:</label>
        <select class="form-select col-6" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect01">PC's FixAsset:</label>
        <select class="form-select col-6" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>


      <!-- check Box -->
      <div class="row gx-3 gy-2 align-items-center">
        <div class="col-auto">
          <div class="form-check">

            <label class="form-check-label" for="autoSizingCheck2">
                PC's Type:
            </label>
          </div>
        </div>

        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="autoSizingCheck2">
            <label class="form-check-label" for="autoSizingCheck2">
              All-In-One
            </label>
          </div>
        </div>

        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="autoSizingCheck2">
            <label class="form-check-label" for="autoSizingCheck2">
              PC-Set
            </label>
          </div>
        </div>

    </div>
  </div>
  </div>

  <!-- Hardware Details -->
  <div class="card border-dark mb-3 p-4 " style="max-width: 45rem;">
    <div class="min-vh-50">

    <h4 class="mb-3">Hardware Details</h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Serial Number</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Dongle ID</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">

          </div>
        </div>



        <div class="col-md-5">
          <label for="country" class="form-label">CPU</label>
          <select class="form-select" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">Motherboard</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-3">
          <label for="state" class="form-label">PSU</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-5">
          <label for="country" class="form-label">RAM Slot</label>
          <select class="form-select" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">RAM</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-3 ">
          <label for="state" class="form-label">Storage</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-5">
          <label for="country" class="form-label">Pc Size</label>
          <select class="form-select" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">IO Card</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-3">
          <label for="state" class="form-label">LAN Card</label>
          <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>


        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Addition details</label>
          <textarea class="form-control" id="AdditionDetails" rows="3"></textarea>
        </div>
      <div>
        <button type="submit" class="btn btn-primary">Create PC</button>
      </div>

      </div>
</form>
