<main class="container mt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between bd-highlight mb-3 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Item Management</h1>
    <div class="me-auto p-2 bd-highlight">
      <button  type="button" class="btn btn-sm btn-outline-secondary"><a href="newitems" class="nav-link text-black">New Item +</a></button>
    </div>
    <form class="d-flex l-3">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

    </form>

  </div>

<h2>Item List</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">HW ID</th>
        <th scope="col">Hardware</th>
        <th scope="col">Brand</th>
        <th scope="col">Hardware Details</th>
        <th scope="col">Count[Total]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr>
      <tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr>
      <tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr><tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr><tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr><tr>
        <td>Project</td>
        <td>HW ID</td>
        <td>Hardware</td>
        <td>Brand</td>
        <td>Hardware Details</td>
        <td>Count[Total]</td>
      </tr>

