<main class="container mt-3 col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between bd-highlight mb-3 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Item </h1>

  </div>

  <div class="card border-dark mb-3" style="max-width: 30rem;">
    <form class="p-4">
      <div class="mb-4 ">
        <label for="exampleInputEmail1" class="form-label">Hardware Name</label>
        <input type="email" class="form-control" id="HardwareName" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hardware Brand</label>
        <input type="password" class="form-control" id="HardwareBrand">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hardware FixAsset</label>
        <input type="password" class="form-control" id="HardwareFixAsset">
      </div>


      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Addition details</label>
        <textarea class="form-control" id="AdditionDetails" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Create Item</button>
    </form>
  </div>
