
<header class="p-4 bg-white text-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
        <img src="assets/image/LogoAnalog.png" style="width: 150px; height: 50px;">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-black">Home</a></li>
        <li><a href="itemsmanage" class="nav-link px-2 text-black">Items Management</a></li>
        <li><a routerLink="pcmanage" class="nav-link px-2 text-black">PC Management</a></li>

      </ul>


      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>

      </div>
    </div>

  </div>

</header>
